button .material-icons{
  margin-top: 7px;
}

.image{
  height: 250px;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

.md-errors-spacer{
  display: none;
}

.items.ng-enter, .items.ng-move {
  transition: 0.4s all;
  opacity: 0;
}

.items.ng-enter.ng-enter-active, .items.ng-move.ng-move-active {
  opacity: 1;
}

.items.ng-leave{
  animation: 0.4s ecom; 
}

@keyframes ecom{
  from {opacity: 1;}
  to {opacity: 0;}
}
